<?xml version="1.0" encoding="utf-8"?>

<configuration status="debug" strict="true" name="logs">

	<loggers>
	 	<logger name="org.hibernate.SQL" level="debug" additivity="false">
            <appender-ref ref="stdout"/>
        </logger>
        
		<root level="debug">
			<appender-ref ref="RollingFile" />
		</root>
	</loggers>

	<appenders>
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %p %C{1.} [%t] %m%n"/>
		</Console>
	    <RollingFile name="RollingFile" fileName="logs/nfvo.log"    
	                 filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">    
	    	<PatternLayout pattern="%d %p %C{1.} [%t] %m%n"/>    
	    	<SizeBasedTriggeringPolicy size="50MB" />    
	    </RollingFile>    
	</appenders>

</configuration>
