<h1 id="headtitleTP" class="page-header">信息管理</h1>
<div class="row placeholders">
	<div class="col-xs-12 col-sm-12 placeholder" style="margin: 0px;">
	</div>
	<div id='jqxTabs'>
		<ul>
			<li>预约</li>
			<li>一周内</li>
			<li>一月内</li>
			<li>两月内</li>
			<li>已结束</li>
		</ul>
		<div>
			<div id="infoman_table"></div>
		</div>
		<div>
		<div class="row">
			<div class="col-xs-2 col-sm-2" style="margin: 0px;">
				<div id='jqxWidget' style="margin:0px; font-size: 13px; font-family: Verdana;">
					<div style='margin: 0px;'>
						<h3>Early History</h3>
					</div>
					<div style='white-space: nowrap;'>
						<ul>
							<li>1961 First - papers</li>
							<li>1966 Merit  founded</li>
							<li>1966 ARPANET  s</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-2 col-sm-2" style="margin: 0px;">
				<div id='jqxWidget2' style="margin:0px; font-size: 13px; font-family: Verdana;">
					<div style='margin: 0px;'>
						<h3>Early History</h3>
					</div>
					<div style='white-space: nowrap;'>
						<ul>
							<li>1961 First - papers</li>
							<li>1966 Merit  founded</li>
							<li>1966 ARPANET  s</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-2 col-sm-2" style="margin: 0px;">
				<div id='jqxWidget3' style="margin:0px; font-size: 13px; font-family: Verdana;">
					<div style='margin: 0px;'>
						<h3>Early History</h3>
					</div>
					<div style='white-space: nowrap;'>
						<ul>
							<li>1961 First - papers</li>
							<li>1966 Merit  founded</li>
							<li>1966 ARPANET  s</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-2 col-sm-2" style="margin: 0px;">
				<div id='jqxWidget4' style="margin:0px; font-size: 13px; font-family: Verdana;">
					<div style='margin: 0px;'>
						<h3>Early History</h3>
					</div>
					<div style='white-space: nowrap;'>
						<ul>
							<li>1961 First - papers</li>
							<li>1966 Merit  founded</li>
							<li>1966 ARPANET  s</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-2 col-sm-2" style="margin: 0px;">
				<div id='jqxWidget5' style="margin:0px; font-size: 13px; font-family: Verdana;">
					<div style='margin: 0px;'>
						<h3>Early History</h3>
					</div>
					<div style='white-space: nowrap;'>
						<ul>
							<li>1961 First - papers</li>
							<li>1966 Merit  founded</li>
							<li>1966 ARPANET  s</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-2 col-sm-2" style="margin: 0px;">
				<div id='jqxWidget6' style="margin:0px; font-size: 13px; font-family: Verdana;">
					<div style='margin: 0px;'>
						<h3>Early History</h3>
					</div>
					<div style='white-space: nowrap;'>
						<ul>
							<li>1961 First - papers</li>
							<li>1966 Merit  founded</li>
							<li>1966 ARPANET  s</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
			
		</div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>
    
	<div id="customWindow">
		<div id="customWindowHeader">
			<span id="captureContainer" style="float: left">条件查询</span>
		</div>
		<div id="customWindowContent" style="overflow: hidden">
			<div style="margin-left: 20px; margin-top: 10px; ">
				患者姓名: 
				<input type="text"
					style="width: 175px; margin-left: 23px; border: 1px solid #aaa"
					id="nameSearchTextInput" />
				<br />
			</div>
			<div style="margin-left: 20px; margin-top:8px;">
				医生姓名: 
				<input type="text"
					style="width: 175px; margin-left: 23px; border: 1px solid #aaa"
					id="docnameSearchTextInput" /> 
				<br />
			</div>
			<div style="margin-left: 20px; margin-top:8px; margin-right:20px;">
				<div style="float: left; margin-top:8px;">开始时间: </div>
				<div style="float: right; width: 175px; border: 1px solid #aaa" id="starttimeSearchTextInput"></div>
				<br />
			</div>
			<div style="margin-left: 20px; margin-top:20px; margin-right:20px;">
				<div style="float: left; margin-top:6px; ">结束时间: </div>
				<div style="float: right; width: 175px; border: 1px solid #aaa" id="endtimeSearchTextInput"></div>
				<br />
			</div>
			<div style="margin-left: 0px; margin-top:40px;">
				<input type="button" value="确定" style="margin-bottom: 5px;margin-left: 90px;" id="searchButton" /> 
				<input type="button" value="取消"	id="cancelButton" />
			</div>
		</div>
	</div>
</div>

