<h1 id="headtitleTP" class="page-header">信息管理->新建信息</h1>
<div class="row">
	<div id="splitTitleUserInfo" class="col-sm-12 col-md-12" style="text-align:left;margin-left:150px;"><h4 id="tt">基本信息</h4></div>
</div>

<div class="row">
	<div id="placeHolderLeft" class="col-sm-2 col-md-2"></div>
	<div id="customWindowContentLeft" class="col-sm-4 col-md-4">
		<div style="margin-left: 20px; margin-top: 10px;">
			姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名: <input type="text"
				style="width: 175px; margin-left: 23px; border: 1px solid #aaa"
				id="patiantName" /> <br />
		</div>
	</div>
	<div id="customWindowContentRight" class="col-sm-4 col-md-4">
		<div style="margin-left: 20px; margin-top: 10px;">
			性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别: <input type="text"
				style="width: 175px; margin-left: 23px; border: 1px solid #aaa"
				id="patiantGender" /> <br />
		</div>
	</div>
	<div id="placeHolderRight" class="col-sm-2 col-md-2"></div>
</div>
<div class="row">
	<div id="placeHolderLeft" class="col-sm-2 col-md-2"></div>
	<div id="customWindowContentLeft" class="col-sm-4 col-md-4">
		<div style="margin-left: 20px; margin-top: 10px;">
			类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型: <input type="text"
				style="width: 175px; margin-left: 23px; border: 1px solid #aaa"
				id="patiantType" /> <br />
		</div>
	</div>
	<div id="customWindowContentRight" class="col-sm-4 col-md-4">
		<div style="margin-left: 20px; margin-top: 10px;">
			职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业: <input type="text"
				style="width: 175px; margin-left: 23px; border: 1px solid #aaa"
				id="patiantCarrier" /> <br />
		</div>
	</div>
	<div id="placeHolderRight" class="col-sm-2 col-md-2"></div>
</div>
<div class="row">
	<div id="placeHolderLeft" class="col-sm-2 col-md-2"></div>
	<div id="customWindowContentLeft" class="col-sm-4 col-md-4">
		<div style="margin-left: 20px; margin-top: 10px;">
			医保类型: <input type="text"
				style="width: 175px; margin-left: 23px; border: 1px solid #aaa"
				id="inssuranceType" /> <br />
		</div>
	</div>
	<div id="customWindowContentRight" class="col-sm-4 col-md-4">
		<div style="margin-left: 20px; margin-top: 10px;">
			医保范围: <input type="text"
				style="width: 175px; margin-left: 23px; border: 1px solid #aaa"
				id="inssuranceRange" /> <br />
		</div>
	</div>
	<div id="placeHolderRight" class="col-sm-2 col-md-2"></div>
</div>

<div class="row">
	<div id="splitTitleUserInfo" class="col-sm-12 col-md-12 splitor_header" style="text-align:left;margin-left:150px;"><h4 id="tt">医生信息</h4></div>
</div>
<div class="row">
	<div id="placeHolderLeft" class="col-sm-2 col-md-2"></div>
	<div id="customWindowContentLeft" class="col-sm-4 col-md-4">
		<div style="margin-left: 20px; margin-top: 8px;">
			医生姓名: <input type="text"
				style="width: 175px; margin-left: 23px; border: 1px solid #aaa"
				id="doctorNameInput" /> <br />
		</div>
	</div>
	<div id="customWindowContentRight" class="col-sm-4 col-md-4">
		<div style="margin-left: 20px; margin-top: 8px;">
			医生编号: <input type="text"
				style="width: 175px; margin-left: 23px; border: 1px solid #aaa"
				id="doctorCodeInput" /> <br />
		</div>
	</div>
	<div id="placeHolderRight" class="col-sm-2 col-md-2"></div>
</div>

<div class="row">
	<div id="splitTitleUserInfo" class="col-sm-12 col-md-12 splitor_header" style="text-align:left;margin-left:150px;"><h4 id="tt">理疗项目</h4></div>
</div>
<div class="row">
	<div id="placeHolderLeft" class="col-sm-2 col-md-2"></div>
	<div id="customWindowContentLeft" class="col-sm-8 col-md-8">
		<div id="healItemTable"></div>
	</div>
	<div id="placeHolderRight" class="col-sm-2 col-md-2"></div>
</div>

<div class="row">
	<div id="splitTitleHealPosition" class="col-sm-12 col-md-12 splitor_header" style="text-align:left;margin-left:150px;"><h4 id="tt">理疗位置图</h4></div>
</div>
<div class="row">
	<div id="placeHolderLeft" class="col-sm-2 col-md-2"></div>
	<div id='picButtons' class="col-sm-8 col-md-8 splitor_header">
		<button style="margin: 10px; padding: 4px 16px;" id="horizonScaleOut">
			水平扩大</button>
		<button style="margin: 10px; padding: 4px 16px;" id="horizonScaleIn">
			水平缩小</button>
		<button style="margin: 10px; padding: 4px 16px;" id="verticalScaleOut">
			垂直扩大</button>
		<button style="margin: 10px; padding: 4px 16px;" id="verticalScaleIn">
			垂直缩小</button>
		<button style="margin: 10px; padding: 4px 16px;" id="rotateClockWise">
			顺时针旋转</button>
		<button style="margin: 10px; padding: 4px 16px;" id="rotateUcClockWise">
			逆时针旋转</button>
		<button style="margin: 10px; padding: 4px 16px;" id="deleteArea">
			删除区域</button>
	</div>
	<div id="placeHolderLeft" class="col-sm-2 col-md-2"></div>
</div>

<div class="row">
	<div id="placeHolderLeft" class="col-sm-2 col-md-2"></div>
	<div id="healPositionPic" class="col-sm-8 col-md-8">
		<canvas width="500" height="500" id="canvas" class="canvasCls"></canvas>	
	</div>
	<div id="placeHolderRight" class="col-sm-2 col-md-2"></div>
</div>

<div class="row">
	<div id="splitTitleUserInfo" class="col-sm-12 col-md-12 splitor_header" style="text-align:left;margin-left:150px;"><h4 id="tt">理疗记录</h4></div>
</div>
<div class="row">
	<div id="placeHolderLeft" class="col-sm-2 col-md-2"></div>
	<div id="customWindowContentLeft" class="col-sm-8 col-md-8">
		<div id="healRecordTable"></div>
	</div>
	<div id="placeHolderRight" class="col-sm-2 col-md-2"></div>
</div>

<div class="row splitor_header">
	<div id="placeHolderLeft" class="col-sm-4 col-md-4"></div>
	<div id="customWindowContentLeft" class="col-sm-1 col-md-1">
		<input type="button" value="打印" id="printButton" />
	</div>
	<div id="customWindowContentMiddle" class="col-sm-1 col-md-1">
		<input type="button" value="确定" id="sureButton" />
	</div>
	<div id="customWindowContentRight" class="col-sm-1 col-md-1">
		<input type="button" value="取消" id="cancelButton" />
	</div>
	<div id="placeHolderRight" class="col-sm-4 col-md-4"></div>
</div>
<div class="row" style="text-align:left;margin-bottom:70px;"></div>

