<h1 class="page-header">HOST PERFORMANCE DATA</h1>
<!--
					<div class="btn-group">
					  <button id="pchtLineChartBtn" ng-click="clickLineChartBtn()" type="button" class="btn btn-primary"aria-haspopup="true" style="margin-left: 10px;">
					    LineChart
					  </button>
					 
					  <button id="pchtSpeedChartBtn" ng-click="clickSpeedChartBtn()" type="button" class="btn btn-primary" aria-haspopup="true" style="margin-left: 10px;">
					    SpeedChart
					  </button>
					  
					  <button id="pchtLineChartBtn" ng-click="clickTestChartBtn()" type="button" class="btn btn-primary"aria-haspopup="true" style="margin-left: 10px;">
					    testChart
					  </button>
					</div> -->
					
<div id='chartTabs' class="row placeholders">
            <!-- <ul style="margin-left: 30px;" id="unorderedList">
                <li>HOST1</li>
                <li>HOST2</li>
                <li>HOST3</li>
                <li>HOST4</li>
                <li>HOST5</li>
                <li>HOST6</li>
                <li>HOST7</li>
            </ul>
            
            <div id="host_alarm_1" class="row placeholders" >
            	<div class="row placeholders" id="chartSpecifiedDivMe">
		            <div class="col-xs-3 col-sm-3 placeholder" style="margin: 0px;" id="perfchart_meter">
		            </div>
		            <div class="col-xs-3 col-sm-3 placeholder" style="margin: 0px;" id="perfchart_meter2">
		            </div>
		            <div class="col-xs-3 col-sm-3 placeholder" style="margin: 0px;" id="perfchart_meter3">
		            </div>
		            <div class="col-xs-3 col-sm-3 placeholder" style="margin: 0px;" id="perfchart_meter4">
		          </div>
          </div>
          <div class="row placeholders" style="width:600px;" id="chartSpecifiedDivLine">
            <div class="col-xs-12 col-sm-12 placeholder" style="margin: 0px;" id="perfchart_line">
            </div>
          </div>
            </div> 

            <div id="host_alarm_2"></div>
            <div id="host_alarm_3"></div>
            <div id="host_alarm_4"></div>
            <div id="host_alarm_5"></div>
            <div id="host_alarm_6"></div>
            <div id="host_alarm_7"></div>-->
            
</div>
        
          