<h1 id="headtitleST" class="page-header">STORE</h1>
<!--
					<div class="btn-group">
					  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Action1<span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu">
					    <li><a href="#">Action1_1</a></li>
					    <li><a href="#">Action1_2</a></li>
					    <li><a href="#">Action1_3</a></li>
					    <li role="separator" class="divider"></li>
					    <li><a href="#">Action1_4</a></li>
					  </ul>
					  <button type="button" class="btn btn-primary" aria-haspopup="true" style="margin-left: 10px;">
					    Action2
					  </button>
					  <button type="button" class="btn btn-primary" aria-haspopup="true" style="margin-left: 10px;"
					  	data-toggle="modal" data-target="#myModal">
					    Action3
					  </button>
					</div>
					-->
          <div class="row placeholders" style="margin-top:10px">
            <div class="col-xs-12 col-sm-12 placeholder" style="margin: 0px;">
            	<div class="videowindow">
              	  
          
              <div id="br_panel"></div>
              <div id="backupWin">
                <div>
                    <span>
                        Backup Configuration
                    </span>
                </div>
                <div>
                    <div style="margin-top:6px;">Select backup periods</div>
                    <div style="margin-top:6px;margin-left: 20px;" id="radioDay">Every Day</div>
                    <div style="margin-top:6px;margin-left: 20px;" id="radioWeek">Every Week</div>
                    <div style="margin-top:6px;margin-left: 20px;" id="radioMonth">Every Month</div>
                    
                    <div style="margin-top:16px;">Select trigger time</div>
                    <div style="margin-top:6px;margin-left: 20px;" id="triggerTime"></div>  
				            <input style='margin-top: 20px;margin-left: 60px;' type="submit" value="Submit" id='backSubmit' />
				            <input style='margin-top: 20px;margin-left: 10px;' type="Button" value="Cancel" id='backCancel' />
				         
           </div>
    </div>
    <div id="restoreWin">
                <div>
                    <span>
                        <!--<img src="../../images/movie.png" alt="" style="margin-right: 15px" />-->Restore
                    </span>
                </div>
                <div>
                	<div style="margin-top:6px;">Restore on demand</div>
                    <div style='margin-top: 10px;margin-left: 20px;' id='dumpComboBox'>
            				</div>
            				<input style='margin-top: 20px;margin-left: 60px;' type="submit" value="Submit" id='resSubmit' />
				            <input style='margin-top: 20px;margin-left: 10px;' type="Button" value="Cancel" id='resCancel' />
           			</div>
           </div>
          </div>
            </div>
            
              </div>