<h1 class="page-header">FAULT</h1>
<!-- 
<div class="btn-group">
					  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Action1<span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu">
					    <li><a href="#">Action1_1</a></li>
					    <li><a href="#">Action1_2</a></li>
					    <li><a href="#">Action1_3</a></li>
					    <li role="separator" class="divider"></li>
					    <li><a href="#">Action1_4</a></li>
					  </ul>
					  <button type="button" class="btn btn-primary" aria-haspopup="true" style="margin-left: 10px;">
					    Action2
					  </button>
					  <button type="button" class="btn btn-primary" aria-haspopup="true" style="margin-left: 10px;">
					    Action3
					  </button>
					</div>
					-->
					
					


<div id='alarmTabs' style="float: left;width:700px; height:700px; ">
           <!-- <ul style="margin-left: 30px;" id="unorderedList">
                <li>cPEG[<font color="red"><strong>113</strong></font>]</li>
                <li>HOST1</li>
                <li>HOST2</li>
                <li>HOST3</li>
                <li>HOST4</li>
                <li>HOST5</li>
                <li>HOST6</li>
                <li>HOST7</li>
                
            </ul>
            <div id="vnf_alarm"></div>
            <div id="host_alarm_1"></div>
            <div id="host_alarm_2"></div>
            <div id="host_alarm_3"></div>
            <div id="host_alarm_4"></div>
            <div id="host_alarm_5"></div>
            <div id="host_alarm_6"></div>
            <div id="host_alarm_7"></div> -->
            
        </div>

