<h1 id="headtitleTP" class="page-header">VNF TOPOLOGY</h1>
<!--
					<div class="btn-group">
					  <button id="networkTopoBtn" type="button" class="btn btn-primary" >
					    NetworkTopo
					  </button>
					  <button id="vnfTopoBtn" type="button" class="btn btn-primary"style="margin-left: 10px;">
					    VNFTopo
					  </button>
					  <button type="button" class="btn btn-primary dropdown-toggle"  aria-haspopup="true"  data-toggle="dropdown" aria-expanded="false" style="margin-left: 10px;">
					    Action1<span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu">
					    <li><a href="#">Action1_1</a></li>
					    <li><a href="#">Action1_2</a></li>
					    <li><a href="#">Action1_3</a></li>
					    <li role="separator" class="divider"></li>
					    <li><a href="#">Action1_4</a></li>
					  </ul>
					</div>
					-->
          <div class="row placeholders">
            <div class="col-xs-12 col-sm-12 placeholder" style="margin: 0px;">

             <div id="page">

    <div id="right_panel">
       
        <div id="graph_panel" class="q-panel">
         
            <div class="q-content" id="content">
               <canvas width="1000" height="650" id="canvas" class="canvasCls"></canvas>	
            </div>
        </div>
        
    </div>
</div>

            </div>
          </div>
          
<ul id="contextmenu" style="display:none;">	
							<li><a>View Alarms</a></li>
							<li><a>View Kpi</a></li>	
						  </ul>